.primary {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: var(--radius-lg);
}

.outline {
  color: var(--color-skyBlue-700);
  outline: none;
  text-decoration: underline;
}
