@import 'tailwindcss';

@theme {
  --color-primary: #ff6e00;
  --color-secondary: rgba(0, 0, 0, 0.5);

  --color-skyBlue-500: #0d99ff;
  --color-skyBlue-700: #111827;
  --color-skyBlue-900: #17265c;

  --color-LGreen-500: #05892d;

  --font-VNPro: 'VNPro', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  /* Custom shadow box */
  --shadow-primary: 0 4px 20px rgb(255 110 0 / 0.5);

  /* shadow-[0_4px_20px_rgba(34,197,94,0.4)] */

  /* Default layout */
  --default-layout-header-height: 80px;
}

html[style*='overflow: hidden'] {
  padding-right: 0px !important;
  overflow: auto !important;
}

body {
  font-family: var(--font-VNPro);
  font-size: 1rem;
  line-height: 1.5;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Fonts emmbeded */
@font-face {
  font-family: VNPro;
  src: url('fonts/BeVietnamPro-Thin.woff2');
  font-weight: 100;
}


@font-face {
  font-family: VNPro;
  src: url('fonts/BeVietnamPro-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: VNPro;
  src: url('fonts/BeVietnamPro-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: VNPro;
  src: url('fonts/BeVietnamPro-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Bold.woff2');
  font-weight: 700;
}

/* CSS Swiper Slide*/
.expert-pagination > .swiper-pagination {
  bottom: 60px;
}

.swiper-pagination-bullet {
  @apply mx-1 h-1.5 w-1.5 rounded-full bg-gray-500 transition-all;
}

.swiper-pagination-bullet-active {
  @apply h-1.5 w-5 bg-orange-500;
}
